<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
  </head>
  <body>
    <h1>Password Reset Request</h1>
    <form method="POST" id="reset-form">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <br>
      <input id="submit" type="submit" value="Submit">
    </form>
    <p id="message" style="display: none;">If the user is in our database, an email with the instructions to reset its password will be sent to the email address associated to that account.</p>
    <script>

        document.getElementById("submit").onclick = function() {
            var msg = document.getElementById("message");
            msg.style.display = "";
        }

      const form = document.getElementById('reset-form');
      const message = document.getElementById('message');
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const requestBody = {username: username};
        fetch('/reset_password', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(requestBody)
        })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          // Handle response data here
          if (data.success) {
            message.style.display = 'block';
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      });
    </script>

  <p id="p1"></p>
  </body>
</html>