<html lang="eng">
  <head>
    <title>DCS Sign up page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Door Control System</h1>
      <br>
      <p>Type in your fiscal code and your temporary password.</p>
      <br>
      <form id = "auth-form" action="" method="post">
        <input type="text" placeholder="Fiscal Code" name="username" value="{{
          request.form.username }}">
        <input type="password" placeholder="Temp. Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Enter">
      </form>
      <form id="details-form" action="/update_user" method="post" style="display: none;">
        <!-- Additional form fields go here -->
        <br /><p>Fill in all fields to complete the registration:</p><br />
        <input type="text" placeholder="Username" name="username" required>
        <input type="tel" id="prefix" name="prefix" placeholder="Prefix (f.i. +39)" pattern="+[0-9]{3}" required>
        <input type="tel" placeholder="Phone Number" id="phone" name="phone_number" required><br />
        <input type="email" placeholder="E-mail" id="email" name="email" required>
        <input type="text" placeholder="Address" name="address" required><br />
        <input type="date" placeholder="Birth date" id="date" name="birth_date" required max="2006-01-01">
        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select><br /><br/>
        <p>Choose your new password. The new password must be 8 to 16 characters long and contain at least<br>
          one uppercase letter, one lowercase letter, one number, and one special character.</p><br/>
        <input type="password" placeholder="New Password" name="new_password" required><br/>
        <input type="password" placeholder="Repeat the new password" name="repeat" required><br/>
        <input class="btn btn-default" type="reset" value="Reset">
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      {% for message in get_flashed_messages() %}
          {{message}}
      {% endfor %}
      </div>
      <script>
        document.getElementById('auth-form').addEventListener('submit', function(event) {
          event.preventDefault();

          // Fetch data from the form
          const formData = new FormData(event.target);

          // Perform an AJAX request to check the user's credentials
          fetch('/check_auth', {
            method: 'POST',
            body: formData,
          }).then(function(response) {
            if (response.ok) {
              // Unhide the new form if the authentication was successful
              document.getElementById('details-form').style.display = 'block';
            } else {
              // Handle unsuccessful authentication
              alert('Invalid username or password');
            }
          });
        });

        
        document.getElementById('details-form').addEventListener('submit', function(event) {
          event.preventDefault();

          // Fetch data from the form
          const formData = new FormData(event.target);
          const newPassword = formData.get('new_password');
          const repeatPassword = formData.get('repeat');


          // Check if the password is strong enough
          const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+])(?=.*[a-zA-Z]).{8,16}$/;
          if (!passwordPattern.test(newPassword)) {
            alert('Your password must be 8 to 16 characters long and contain at least one uppercase letter, ' +
                    'one lowercase letter, one number, and one special character (!@#$%^&*()_+)');
            document.getElementsByName('new_password')[0].value = '';
            document.getElementsByName('repeat')[0].value = '';
            document.getElementsByName('new_password')[0].focus();
            return false;

          }

          // Check if the password and confirmation match
          if (newPassword !== repeatPassword) {
            alert('The new password and confirmation do not match');
            document.getElementsByName('new_password')[0].value = '';
            document.getElementsByName('repeat')[0].value = '';
            document.getElementsByName('new_password')[0].focus();
            return false;
          }

          // Perform an AJAX request to update the user's details
          fetch('/update_user', {
            method: 'POST',
            body: formData,
          }).then(function (response) {
            return response.json();
          }).then(function (data) {
            if (data.status === 'success') {
              // Handle successful update
              alert(data.message);
              window.location.href = '/';
            } else {
              // Handle unsuccessful update
              alert('There was an error updating the user details');
            }
          });
        });
      </script>
  </body>
</html>
